<?xml version="1.0"?>

<model>
  <name>Tree Sign</name>
  <version>1.0</version>
  <sdf version="1.5">tree_sign.sdf</sdf>

  <author>
    <name>Alex Lucas</name>
    <email>Alex.Lucas@sheffield.ac.uk</email>
  </author>

  <author>
    <name>Inna Lucas</name>
    <email>I.Lucas@shu.ac.uk</email>
  </author>


  <description>
    A 'Tree' sign: burgundy pentagon with the word 'TREE'. Based on the stop sign model by Cole Biesemeyer and Nate Koenig.
  </description>

</model>
