<?xml version="1.0"?>

<model>
  <name>Stop Sign</name>
  <version>1.0</version>
  <sdf version="1.5">stop_sign_remodeled.sdf</sdf>

  <author>
    <name>Alex Lucas</name>
    <email>Alex.Lucas@sheffield.ac.uk</email>
  </author>

  <author>
    <name>Inna Lucas</name>
    <email>I.Lucas@shu.ac.uk</email>
  </author>


  <description>
    A stop sign based on the model by Cole Biesemeyer and Nate Koenig with proper reflections.
  </description>

</model>
