<?xml version="1.0"?>

<model>
  <name>Cast Sign</name>
  <version>1.0</version>
  <sdf version="1.5">cast_sign.sdf</sdf>

  <author>
    <name>Alex Lucas</name>
    <email>Alex.Lucas@sheffield.ac.uk</email>
  </author>

  <author>
    <name>Inna Lucas</name>
    <email>I.Lucas@shu.ac.uk</email>
  </author>



  <description>
    A 'Cast' sign: green square with the word 'CAST'. Based on the stop sign model by Cole Biesemeyer and Nate Koenig.
  </description>

</model>
