<?xml version="1.0"?>

<model>
  <name>Way Sign</name>
  <version>1.0</version>
  <sdf version="1.5">way_sign.sdf</sdf>

  <author>
    <name>Alex Lucas</name>
    <email>Alex.Lucas@sheffield.ac.uk</email>
  </author>

  <author>
    <name>Inna Lucas</name>
    <email>I.Lucas@shu.ac.uk</email>
  </author>



  <description>
    A 'Way' sign: blue triangle with the word 'WAY'. Based on the stop sign model by Cole Biesemeyer and Nate Koenig.
  </description>

</model>
