<?xml version="1.0"?>

<model>
  <name>Train Sign</name>
  <version>1.0</version>
  <sdf version="1.5">train_sign.sdf</sdf>

  <author>
    <name>Alex Lucas</name>
    <email>Alex.Lucas@sheffield.ac.uk</email>
  </author>

  <author>
    <name>Inna Lucas</name>
    <email>I.Lucas@shu.ac.uk</email>
  </author>



  <description>
    A 'Train' sign: orange circle with the word 'Train'. Based on the stop sign model by Cole Biesemeyer and Nate Koenig.
  </description>

</model>
